.label{
	-fx-font-size: 1em;
	-fx-font-weight: bold;
	-fx-text-fill: black;
}

.titulo{
	-fx-font-size: 2em;
	-fx-font-weight: bold;
	-fx-font-family: "Arial"; /* Cambia la fuente del texto a Arial */
	-fx-text-fill: black;
}

.tituloGrande{
	-fx-font-size: 5em;
	-fx-font-weight: bold;
	-fx-font-family: "Arial"; /* Cambia la fuente del texto a Arial */
	-fx-text-fill: black;
}